---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="お問い合わせ | DARUMA TOKYO">
  <h1>お問い合わせ</h1>
  <p>法人導入／コラボ／取材など、お気軽にご連絡ください。</p>

  <div class="card">
   
   <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSddkgoQZassdzqYXHv_o3NN5AXByg5nbIrPqhJvQr8k-OU0JQ/viewform?embedded=true" width="640" height="1285" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </div>
</BaseLayout>